@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
  background: #148d8d;
height: 80px;
padding: 0.5rem;
position: sticky;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
    padding: 0.5rem;
}
.navbar-toggler:focus, .btm-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: white;
    font-size: 23px;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link.active{
color: orange;
}
#logo{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.8rem;
}
#logo span{
    color:orange;
}
.dropdown-item{
    color: orange;
    font-weight: 2300;
    transition: 0.5s;
}
.dropdown-item:hover{
    color: red;
    font-weight: 2300;
    background-color: white;

}
@media (min-width: 991px) {
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    visibility: hidden;
    transition: 0.4s ease-in-out;
}
.nav-link:hover::before{
width: 100%;
visibility: visible;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
}
footer {
    background-color: #141c2c;
    padding: 2.5rem 3.5rem;
}
.logo {
    color: #d5d5d5;
    font-size: 2.8rem;
    text-align: center;
}

.social-media {
    text-align: center;
}

.social-media a {
    text-decoration: none;
    color: #d5d5d5;
    font-size: 1.2rem;
    width: 5.3rem;
    word-spacing: 1.3rem;
}

.social-media a #fb:hover {
    color: #0866ff;
}

.social-media a #twt:hover {
    color: #0084b4;
}

.social-media a #yt:hover {
    color: #e62117;
}

.social-media a #ig:hover {
    color: #dd27ab
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.footer-wrapper {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.8rem;
}

.footer-wrapper h4 {
    color: #d5d5d5;
    line-height: 4;
}

.footer-wrapper a {
    text-decoration: none;
    color: #8c94b8;
    line-height: 2;
}

.footer-wrapper a:hover {
    color: #d5d5d5;
}

.footer-wrapper p {
    color: #8c94b8;
    margin-bottom: 20px;
}

.footer-newsletter {
    display: flex;
    min-width: 300px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.footer-newsletter input {
    background-color: #d5d5d5;
    border: 2px solid #d5d5d5;
    width: 65%;
    padding: 0.5rem;
    margin-right: 0.3em;
}
.footer-newsletter a {
    color: #d5d5d5;
    width: 20%;
    background-color: transparent;
    border: 2px solid #8c94b8;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    text-align: center;
}
.footer-newsletter a:hover{
    background-color: #8c94b8;
}
.divider{
    border: 1px solid #8c94b8;
    margin: 0.5rem 0rem;
}
.webright{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.webright-left{
    color: #d5d5d5;
    font-size: 0.8rem;
}
.webright-right a{
text-decoration: none;
color: #d5d5d5;
font-size: 0.8rem;
padding-right: 10px;
}
.tabish-khoja{
    text-align: center;justify-content: center;align-items: center;
}

h6{
    margin-left: 23.5%;
    margin-top: 1%;
    font-style: bold;
}

.paragraph{
    margin-left: 23.5%;
}

.para{
    margin-left: 23.5%;
}

.para2{
    margin-left: 23.5%;
}

.para3{
    margin-left: 23.5%;
}
 .content .img{
    display: flex;
 }


h2{
    text-align: center;justify-content: center;align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.para4{
    margin-left: 23.5%;
}
.para5{
    margin-left: 23.5%;
}
.para6{
    margin-left: 23.5%;
}
.para7{
    margin-left: 23.5%;
}

.para8{
    margin-left: 23.5%;
}
.para9{
    margin-left: 23.5%;
}
.para10{
    margin-left: 23.5%;
}
.para11{
    margin-left: 23.5%;
}

.para12{
    margin-left: 23.5%;
}
.para13{
    margin-left: 23.5%;
}
.para14{
    margin-left: 23.5%;
}
.para15{
    margin-left: 23.5%;
}


.para16{
    margin-left: 23.5%;
}
.para17{
    margin-left: 23.5%;
}
.para18{
    margin-left: 23.5%;
}
.para19{
    margin-left: 23.5%;
}